test_cases/
STIFMap_images_new/
STIFMap_images/
normalized_zout/
IPMN_images/
STIFMap_normalized_images/
z_out/
STIFMap_images_sav/
STIFMap_normalized_images_v1/
STIFMap_normalized_images_v2/
*.png
.ipynb_checkpoints/
27620_STIFMap_resized_cropped.zip
27620_STIFMap_stitched-1.tif
27620_resized_sav.png
27620_STIFMap_resized_cropped.tif
27620_STIFMap_stitched.png
27620_cropped.png
27620_resized.png
out.png
IPMN_images/4601_C1_full.tif
IPMN_images/6488_C0_f-1 (1).tif
IPMN_images/27620_C1_partial.tif
IPMN_images/27620_C0_full.tif
IPMN_images/6488_C0_f-1_edited.tif
IPMN_images/6488_C1_f-1.tif
IPMN_images/27620_C1_full.tif
IPMN_images/6488_C0_f-1.tif
IPMN_images/4601_C0_full.tif
IPMN_images/6488_C1_f-1_edited.tif
IPMN_images/5114_c0.tif
IPMN_images/normalized_tiled/27620_C0_full_tile_2_1.tif
IPMN_images/normalized_tiled/27620_C1_full_tile_2_4.tif
IPMN_images/normalized_tiled/27620_C0_full_tile_3_4.tif
IPMN_images/normalized_tiled/27620_C1_full_tile_5_5.tif
IPMN_images/normalized_tiled/27620_C0_full_tile_1_4.tif
IPMN_images/normalized_tiled/27620_C1_full_tile_0_3.tif
IPMN_images/normalized_tiled/27620_C0_full_tile_2_4.tif
IPMN_images/normalized_tiled/27620_C1_full_tile_1_3.tif
IPMN_images/normalized_tiled/27620_C1_full_tile_2_2.tif
IPMN_images/normalized_tiled/27620_C0_full_tile_0_5.tif
IPMN_images/normalized_tiled/27620_C0_full_tile_3_6.tif
IPMN_images/normalized_tiled/27620_C1_full_tile_2_0.tif
IPMN_images/normalized_tiled/27620_C1_full_tile_3_0.tif
IPMN_images/normalized_tiled/27620_C0_full_tile_5_2.tif
IPMN_images/normalized_tiled/27620_C0_full_tile_3_0.tif
IPMN_images/normalized_tiled/27620_C1_full_tile_2_5.tif
IPMN_images/normalized_tiled/27620_C1_full_tile_5_1.tif
IPMN_images/normalized_tiled/27620_C0_full_tile_1_5.tif
IPMN_images/normalized_tiled/27620_C1_full_tile_5_2.tif
IPMN_images/normalized_tiled/27620_C0_full_tile_4_5.tif
IPMN_images/normalized_tiled/27620_C0_full_tile_2_3.tif
IPMN_images/normalized_tiled/27620_C1_full_tile_3_2.tif
IPMN_images/normalized_tiled/27620_C1_full_tile_0_1.tif
IPMN_images/normalized_tiled/27620_C1_full_tile_4_2.tif
IPMN_images/normalized_tiled/27620_C1_full_tile_4_5.tif
IPMN_images/normalized_tiled/27620_C1_full_tile_5_6.tif
IPMN_images/normalized_tiled/27620_C1_full_tile_0_2.tif
IPMN_images/normalized_tiled/27620_C1_full_tile_4_4.tif
IPMN_images/normalized_tiled/27620_C1_full_tile_4_0.tif
IPMN_images/normalized_tiled/27620_C1_full_tile_5_0.tif
IPMN_images/normalized_tiled/27620_C1_full_tile_3_5.tif
IPMN_images/normalized_tiled/27620_C0_full_tile_1_1.tif
IPMN_images/normalized_tiled/27620_C0_full_tile_1_0.tif
IPMN_images/normalized_tiled/27620_C1_full_tile_3_4.tif
IPMN_images/normalized_tiled/27620_C1_full_tile_0_4.tif
IPMN_images/normalized_tiled/27620_C0_full_tile_2_2.tif
IPMN_images/normalized_tiled/27620_C0_full_tile_3_3.tif
IPMN_images/normalized_tiled/27620_C0_full_tile_3_1.tif
IPMN_images/normalized_tiled/27620_C0_full_tile_0_0.tif
IPMN_images/normalized_tiled/27620_C1_full_tile_3_1.tif
IPMN_images/normalized_tiled/27620_C0_full_tile_4_6.tif
IPMN_images/normalized_tiled/27620_C1_full_tile_2_6.tif
IPMN_images/normalized_tiled/27620_C0_full_tile_5_6.tif
IPMN_images/normalized_tiled/27620_C0_full_tile_0_6.tif
IPMN_images/normalized_tiled/27620_C0_full_tile_3_2.tif
IPMN_images/normalized_tiled/27620_C1_full_tile_1_1.tif
IPMN_images/normalized_tiled/27620_C1_full_tile_4_3.tif
IPMN_images/normalized_tiled/27620_C1_full_tile_4_6.tif
IPMN_images/normalized_tiled/27620_C1_full_tile_1_6.tif
IPMN_images/normalized_tiled/27620_C0_full_tile_5_1.tif
IPMN_images/normalized_tiled/27620_C0_full_tile_4_3.tif
IPMN_images/normalized_tiled/27620_C1_full_tile_0_6.tif
IPMN_images/normalized_tiled/27620_C1_full_tile_1_2.tif
IPMN_images/normalized_tiled/27620_C0_full_tile_1_6.tif
IPMN_images/normalized_tiled/27620_C0_full_tile_0_4.tif
IPMN_images/normalized_tiled/27620_C0_full_tile_1_3.tif
IPMN_images/normalized_tiled/27620_C0_full_tile_2_6.tif
IPMN_images/normalized_tiled/27620_C0_full_tile_5_3.tif
IPMN_images/normalized_tiled/27620_C0_full_tile_5_4.tif
IPMN_images/normalized_tiled/27620_C0_full_tile_0_3.tif
IPMN_images/normalized_tiled/27620_C0_full_tile_5_0.tif
IPMN_images/normalized_tiled/27620_C0_full_tile_0_1.tif
IPMN_images/normalized_tiled/27620_C0_full_tile_4_1.tif
IPMN_images/normalized_tiled/27620_C0_full_tile_4_0.tif
IPMN_images/normalized_tiled/27620_C1_full_tile_0_5.tif
IPMN_images/normalized_tiled/27620_C1_full_tile_5_4.tif
IPMN_images/normalized_tiled/27620_C1_full_tile_5_3.tif
IPMN_images/normalized_tiled/27620_C1_full_tile_1_0.tif
IPMN_images/normalized_tiled/27620_C1_full_tile_4_1.tif
IPMN_images/normalized_tiled/27620_C1_full_tile_1_5.tif
IPMN_images/normalized_tiled/27620_C1_full_tile_1_4.tif
IPMN_images/normalized_tiled/27620_C0_full_tile_0_2.tif
IPMN_images/normalized_tiled/27620_C1_full_tile_3_6.tif
IPMN_images/normalized_tiled/27620_C1_full_tile_0_0.tif
IPMN_images/normalized_tiled/27620_C1_full_tile_2_1.tif
IPMN_images/normalized_tiled/27620_C1_full_tile_3_3.tif
IPMN_images/normalized_tiled/27620_C0_full_tile_4_2.tif
IPMN_images/normalized_tiled/27620_C0_full_tile_4_4.tif
IPMN_images/normalized_tiled/27620_C0_full_tile_2_0.tif
IPMN_images/normalized_tiled/27620_C0_full_tile_5_5.tif
IPMN_images/normalized_tiled/27620_C1_full_tile_2_3.tif
IPMN_images/normalized_tiled/27620_C0_full_tile_1_2.tif
IPMN_images/normalized_tiled/27620_C0_full_tile_2_5.tif
IPMN_images/normalized_tiled/27620_C0_full_tile_3_5.tif
IPMN_images/normalized/27620_C0_full_normalized.tif
IPMN_images/normalized/27620_C1_full_normalized.tif
IPMN_images/tiled/27620_C0_full_tile_2_1.tif
IPMN_images/tiled/27620_C1_full_tile_2_4.tif
IPMN_images/tiled/27620_C0_full_tile_3_4.tif
IPMN_images/tiled/27620_C1_full_tile_5_5.tif
IPMN_images/tiled/27620_C0_full_tile_1_4.tif
IPMN_images/tiled/27620_C1_full_tile_0_3.tif
IPMN_images/tiled/27620_C0_full_tile_2_4.tif
IPMN_images/tiled/27620_C1_full_tile_1_3.tif
IPMN_images/tiled/27620_C1_full_tile_2_2.tif
IPMN_images/tiled/27620_C0_full_tile_0_5.tif
IPMN_images/tiled/27620_C0_full_tile_3_6.tif
IPMN_images/tiled/27620_C1_full_tile_2_0.tif
IPMN_images/tiled/27620_C1_full_tile_3_0.tif
IPMN_images/tiled/27620_C0_full_tile_5_2.tif
IPMN_images/tiled/27620_C0_full_tile_3_0.tif
IPMN_images/tiled/27620_C1_full_tile_2_5.tif
IPMN_images/tiled/27620_C1_full_tile_5_1.tif
IPMN_images/tiled/27620_C0_full_tile_1_5.tif
IPMN_images/tiled/27620_C1_full_tile_5_2.tif
IPMN_images/tiled/27620_C0_full_tile_4_5.tif
IPMN_images/tiled/27620_C0_full_tile_2_3.tif
IPMN_images/tiled/27620_C1_full_tile_3_2.tif
IPMN_images/tiled/27620_C1_full_tile_0_1.tif
IPMN_images/tiled/27620_C1_full_tile_4_2.tif
IPMN_images/tiled/27620_C1_full_tile_4_5.tif
IPMN_images/tiled/27620_C1_full_tile_5_6.tif
IPMN_images/tiled/27620_C1_full_tile_0_2.tif
IPMN_images/tiled/27620_C1_full_tile_4_4.tif
IPMN_images/tiled/27620_C1_full_tile_4_0.tif
IPMN_images/tiled/27620_C1_full_tile_5_0.tif
IPMN_images/tiled/27620_C1_full_tile_3_5.tif
IPMN_images/tiled/27620_C0_full_tile_1_1.tif
IPMN_images/tiled/27620_C0_full_tile_1_0.tif
IPMN_images/tiled/27620_C1_full_tile_3_4.tif
IPMN_images/tiled/27620_C1_full_tile_0_4.tif
IPMN_images/tiled/27620_C0_full_tile_2_2.tif
IPMN_images/tiled/27620_C0_full_tile_3_3.tif
IPMN_images/tiled/27620_C0_full_tile_3_1.tif
IPMN_images/tiled/27620_C0_full_tile_0_0.tif
IPMN_images/tiled/27620_C1_full_tile_3_1.tif
IPMN_images/tiled/27620_C0_full_tile_4_6.tif
IPMN_images/tiled/27620_C1_full_tile_2_6.tif
IPMN_images/tiled/27620_C0_full_tile_5_6.tif
IPMN_images/tiled/27620_C0_full_tile_0_6.tif
IPMN_images/tiled/27620_C0_full_tile_3_2.tif
IPMN_images/tiled/27620_C1_full_tile_1_1.tif
IPMN_images/tiled/27620_C1_full_tile_4_3.tif
IPMN_images/tiled/27620_C1_full_tile_4_6.tif
IPMN_images/tiled/27620_C1_full_tile_1_6.tif
IPMN_images/tiled/27620_C0_full_tile_5_1.tif
IPMN_images/tiled/27620_C0_full_tile_4_3.tif
IPMN_images/tiled/27620_C1_full_tile_0_6.tif
IPMN_images/tiled/27620_C1_full_tile_1_2.tif
IPMN_images/tiled/27620_C0_full_tile_1_6.tif
IPMN_images/tiled/27620_C0_full_tile_0_4.tif
IPMN_images/tiled/27620_C0_full_tile_1_3.tif
IPMN_images/tiled/27620_C0_full_tile_2_6.tif
IPMN_images/tiled/27620_C0_full_tile_5_3.tif
IPMN_images/tiled/27620_C0_full_tile_5_4.tif
IPMN_images/tiled/27620_C0_full_tile_0_3.tif
IPMN_images/tiled/27620_C0_full_tile_5_0.tif
IPMN_images/tiled/27620_C0_full_tile_0_1.tif
IPMN_images/tiled/27620_C0_full_tile_4_1.tif
IPMN_images/tiled/27620_C0_full_tile_4_0.tif
IPMN_images/tiled/27620_C1_full_tile_0_5.tif
IPMN_images/tiled/27620_C1_full_tile_5_4.tif
IPMN_images/tiled/27620_C1_full_tile_5_3.tif
IPMN_images/tiled/27620_C1_full_tile_1_0.tif
IPMN_images/tiled/27620_C1_full_tile_4_1.tif
IPMN_images/tiled/27620_C1_full_tile_1_5.tif
IPMN_images/tiled/27620_C1_full_tile_1_4.tif
IPMN_images/tiled/27620_C0_full_tile_0_2.tif
IPMN_images/tiled/27620_C1_full_tile_3_6.tif
IPMN_images/tiled/27620_C1_full_tile_0_0.tif
IPMN_images/tiled/27620_C1_full_tile_2_1.tif
IPMN_images/tiled/27620_C1_full_tile_3_3.tif
IPMN_images/tiled/27620_C0_full_tile_4_2.tif
IPMN_images/tiled/27620_C0_full_tile_4_4.tif
IPMN_images/tiled/27620_C0_full_tile_2_0.tif
IPMN_images/tiled/27620_C0_full_tile_5_5.tif
IPMN_images/tiled/27620_C1_full_tile_2_3.tif
IPMN_images/tiled/27620_C0_full_tile_1_2.tif
IPMN_images/tiled/27620_C0_full_tile_2_5.tif
IPMN_images/tiled/27620_C0_full_tile_3_5.tif
